#myPDF
{
    width: 75%;
    height: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.underline{
    text-decoration: underline;
}

.centertext{
    text-align: center;
}

.inner{
    display: flex;
    flex-direction: center;
    justify-content: right;
}

.res{
    display: flex;
    flex-direction: center;
    justify-content: right;
}

.fishes{
    display: flex;
    flex-direction: center;
    justify-content: right;
}

.notes{
    display: flex;
    flex-direction: center;
    justify-content: right;
}

.container {
    margin: 20px;
    height: 50%;
    width: 80%;
    background-color: #CFD8D7;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 30px;
    box-shadow: 10px 10px 5px #CAB1BD;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .container {
    margin: 20px;
    height: 50%;
    width: 80%;
    background-color: #CFD8D7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    padding: 30px;
    box-shadow: 10px 10px 5px #CAB1BD;
  }
}


/* personal image */
img {
    max-width: 80%;
    max-height: 80%;
    float: left;
    border: 8px solid #CAB1BD;
    clear: both;
}

.text {
    font-size: 17px;
    padding-left: 20px;
}

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #CAB1BD;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;

  border: 1px solid #CFD8D7;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #E7CFCD;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #9F9AA4;
}

.tabcontent { 
    display: none;
}
.tabcontent.active { 
    display: block; 
}
.tablinks.active{ 
    cursor: not-allowed; 
}

.background{
  background-color: #B5C9C3;
}